<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CovidifyUSA</display-name>
  <welcome-file-list>
    <welcome-file>CovidifyUSAHome.jsp</welcome-file>
  </welcome-file-list>
  <!--
  <servlet>
    <servlet-name>CovidifyUSAHome</servlet-name>
    <servlet-class>covidify.servlet.CovidifyUSAHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CovidifyUSAHome</servlet-name>
    <url-pattern>/covidifyhsome</url-pattern>
  </servlet-mapping>
  -->
</web-app>